In [4]:
import time
import warnings
warnings.simplefilter("ignore")

import numpy as np
import pandas as pd

from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from xgboost.sklearn import XGBClassifier
from tianchi.user_location_prediction.pysrc.load import *

In [5]:
sample = load_sample()
sample_wifi = load_sample_wifi()
shop = load_shop()

In [19]:
sample_i.head(3)

,sample_id,mall_id,user_id,lgt,ltt,time,wifi_infos,shop_id,wifi_connect
0,2,m_4079,u_1041,117.365255,40.638214,2017-08-02 13:10:00,b_8006367|-78|false;b_2485110|-52|false;b_3005...,s_181637,None
1,104,m_4079,u_21341,117.364162,40.638323,2017-08-03 17:20:00,b_1137072|-66|false;b_751753|-73|false;b_11352...,s_10413,None
2,228,m_4079,u_42456,117.362909,40.638480,2017-08-21 19:30:00,b_45611096|-85|false;b_28653535|-69|false;b_30...,s_8203,None

In [7]:
sample_wifi.head(3)

   sample_id     wifi_id  signal_power  signal_flag
0          0   b_6396480      0.410714          0.0
1          0  b_41124514      0.241071          0.0
2          0  b_28723327      0.205357          0.0

In [9]:
shop.head(3)

  shop_id category_id         lgt        ltt  price mall_id
0    s_26         c_4  122.346736  31.833507     57   m_690
1   s_133         c_6  121.134362  31.197511     58  m_6587
2   s_251        c_38  121.000505  30.907667     34  m_5892

In [16]:
mall = 'm_4079'
sample_i = sample[(sample.mall_id==mall)&(sample.row_id.isnull())].drop('row_id',axis=1).reset_index(drop=True)
sample_wifi_i = sample_wifi[sample_wifi.sample_id.isin(sample_i.sample_id)].reset_index(drop=True)
shop_i = shop[shop.mall_id==mall].reset_index(drop=True)

In [26]:
sample_i.drop(['sample_id','mall_id','wifi_infos'],axis=1).values

array([['u_1041', 117.365255, 40.63821400000001,
        Timestamp('2017-08-02 13:10:00'), 's_181637', 'None'],
       ['u_21341', 117.36416200000001, 40.638323,
        Timestamp('2017-08-03 17:20:00'), 's_10413', 'None'],
       ['u_42456', 117.362909, 40.63848, Timestamp('2017-08-21 19:30:00'),
        's_8203', 'None'],
       ...,
       ['u_63886087', 117.362959, 40.638348,
        Timestamp('2017-08-24 14:30:00'), 's_309881', 'None'],
       ['u_63886087', 117.363827, 40.638346999999996,
        Timestamp('2017-08-24 11:50:00'), 's_536574', 'None'],
       ['u_63886087', 117.361203, 40.638244,
        Timestamp('2017-08-24 10:50:00'), 's_21058', 'None']], dtype=object)

In [28]:
from sklearn.preprocessing import LabelEncoder

In [30]:
label_encoder = LabelEncoder()