In [1]:
import warnings
import os
import sys
import time

import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

from tianchi.user_location_prediction.pysrc.construct_train_test_data import construct_batch

warnings.filterwarnings('ignore')
path = '/home/zhouzr/data/tianchi/user_location_predict'
os.chdir(path)

In [2]:
shop = pd.read_csv('./preprocessing_data/shop.csv')
sample = pd.read_csv('./preprocessing_data/sample.csv')
sample_wifi = pd.read_csv('./preprocessing_data/sample_wifi.csv')
sample['time'] = pd.to_datetime(sample.time)

In [3]:
mall_list = shop.mall_id.unique()
submission_row_id = []
submission_shop = []

In [5]:
def train(sample, sample_wifi, mall, model):
    train_x, train_y, test_x, test_row_id = construct_batch(sample, sample_wifi, mall)
    test_row_id = list(test_row_id)
    model.fit(train_x, train_y)
    preshop = model.predict(test_x)
    print(model.score(train_x, train_y))
    return test_row_id, preshop

In [6]:
# lr
t1 = time.time()
for mall in mall_list:
    test_row_id, preshop = train(sample, sample_wifi, mall, LogisticRegression())
    submission_row_id.extend(test_row_id)
    submission_shop.extend(preshop)
print('cost %.2f min'%((time.time()-t1)/60))

0.890886038186
0.918570169111
0.922991133664
0.953624155476
0.828915450095
0.897947098302
0.832136445242
0.944938783702
0.948350305499
0.942682926829
0.959531935641
0.911446690086
0.936094145687
0.9024265049
0.943081686116
0.921546367113
0.954419410745
0.787710578971
0.942062153698
0.762646103109
0.955712669683
0.957643830918
0.953051643192
0.720394612028
0.970601851852
0.942802262299
0.922994723836
0.972296217368
0.968005445882
0.957105200096
0.943160010966
0.85072746019
0.955220104571
0.949938385705
0.969608239095
0.973641989457
0.927443921351
0.922374429224
0.925883095038
0.947817631806
0.920114907402
0.76913027249
0.952142345843
0.907196969697
0.960769520935
0.741622872571
0.955097087379
0.974588808633
0.965965185763
0.943759912163
0.94616519174
0.956261510129
0.964480471629
0.916681470954
0.96629426245
0.941896319137
0.961002785515
0.797359169324
0.91280290021
0.82854993013
0.948515445366
0.966253651657
0.901552719291
0.961865849506
0.887956606492
0.942302031204
0.797975488675
0.883143909076
0.975128369705
0.973642593569
0.848843986788
0.90441415125
0.923542435424
0.847457627119
0.975513043478
0.917602507182
0.92389380531
0.89431000654
0.781778968695
0.954180753898
0.943607194944
0.829096902924
0.919977511244
0.88850528026
0.969821133086
0.856101213937
0.738235294118
0.959107284892
0.949779497795
0.917726252805
0.934649239797
0.93289188845
0.944347273016
0.796111178837
0.96580764696
0.938300066735
0.69156699777
cost 19.06 min

In [66]:
submission = pd.DataFrame({'row_id':submission_row_id, 'shop_id':submission_shop}, 
                          columns=['row_id','shop_id'])

In [67]:
submission['row_id'] = submission['row_id'].astype('int').astype('str')

In [55]:
submission.to_csv('./submission/result.csv', index=None, sep=',')

In [69]:
submission.shape

(483931, 2)

In [72]:
submission['row_id'] = submission['row_id'].astype('float')

In [74]:
submission.to_csv('./submission/test.csv', index=None, sep=',')

In [75]:
submission

          row_id    shop_id
0       118979.0    s_16473
1       119032.0     s_9147
2       119068.0     s_9147
3       119149.0   s_287617
4       119155.0   s_455479
5       119182.0   s_405021
6       119215.0   s_298312
7       119279.0     s_9147
8       119295.0  s_2789464
9       119485.0   s_149642
10      119523.0  s_3836242
11      119635.0   s_491151
12      119686.0    s_57280
13      119755.0  s_1217813
14      119756.0  s_1217813
15      119784.0     s_3221
16      119834.0   s_266675
17      119925.0     s_5947
18      119994.0   s_633878
19      120001.0   s_298312
20      120007.0     s_1587
21      120017.0  s_1091614
22      120018.0   s_455479
23      120066.0    s_75575
24      120067.0  s_3882031
25      120120.0   s_824128
26      120152.0   s_217698
27      120291.0   s_298312
28      120292.0    s_75184
29      120319.0  s_3836242
...          ...        ...
483901  481714.0   s_684235
483902  481727.0   s_679110
483903  481728.0   s_679110
483904  481913.0   s_685058
483905  481914.0   s_685058
483906  481962.0   s_769794
483907  482085.0   s_696563
483908  482086.0  s_3382317
483909  482087.0  s_3382317
483910  482088.0   s_696563
483911  482138.0  s_1466124
483912  482147.0   s_683832
483913  482148.0   s_685058
483914  482277.0   s_679110
483915  482278.0   s_679110
483916  482354.0   s_696015
483917  482552.0  s_2248290
483918  482770.0   s_684245
483919  482911.0   s_684547
483920  483198.0  s_3140371
483921  483199.0   s_683674
483922  483200.0   s_683674
483923  483201.0  s_3140371
483924  483336.0   s_809873
483925  483337.0   s_685058
483926  483351.0  s_3382317
483927  483352.0  s_3812635
483928  483380.0  s_2230096
483929  483381.0   s_679110
483930  483390.0  s_3140371

[483931 rows x 2 columns]