In [1]:
import os
import sys
import gc
import random
import datetime
import time

import random
import pandas as pd
import numpy as np
import xgboost as xgb
import lightgbm as lgb
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

seed = 3
random.seed(seed)
np.random.seed(seed)

/home/zhouzr/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

### Outlier filter

### Extract features

1. Wifi
  * Wifi Signal Power Matrix ### param: drop_num, drop_rate
  * Wifi Signal Connect Wifi-Id ### fill NA with 'Null'
2. Time
  * Weekday & Hourmap ### Param: one_hot
3. Location
  * longditude
  * latitude
4. Time & Category
  * Weekday-Category shopping_num rate
  * hourmap-Category shopping_num rate
5. Time & Price
  * Weekday-Hourmap shopping 0% price
  * Weekday-Hourmap shopping 25% price
  * Weekday-Hourmap shopping 50% price
  * Weekday-Hourmap shopping 75% price
  * Weekday-Hourmap shopping 100% price
  * Weekday-Hourmap shopping price std
6. User & Shop
  * User last shopping shop_id ### before sample time
  * User most likely shopping shop_id ### before sample time
7. User & Category
  * User last shopping category ### before sample time
  * User most shopping category ### before sample time
8. User & Price
  * User shopping mean price ### before sample time
  * User shopping price std ### before sample time

In [25]:
path = '/home/zhouzr/data/user-location-forcast/'
os.chdir(path)
train = pd.read_csv('./data/train_local.csv')
test = pd.read_csv('./data/test_local.csv')
shop = pd.read_csv('./original_data/训练数据-ccf_first_round_shop_info.csv')

### outlier filter

In [115]:
def location_outlier_filter(df, filter_rate=0.005):
    def outlier_filter(df, col, min_filter, max_filter):
            min_outlier = np.percentile(df[col], min_filter*100)
            max_outlier = np.percentile(df[col], max_filter*100)
            outlier_index = df[(df[col] > max_outlier) | (df[col] < min_outlier)].index.tolist()
            return outlier_index
    idx1 = outlier_filter(df, 'latitude', filter_rate, filter_rate)
    idx2 = outlier_filter(df, 'longitude', filter_rate, filter_rate)
    drop_idx = list(set(idx1 + idx2))
    return df.drop(drop_idx, axis=0).reset_index(drop=True)

def user_behavior_outlier_filter(df, filter_num=40):
    user_behavior = df.groupby('user_id')['sample_id'].count()
    drop_idx = user_behavior[user_behavior>40].index.tolist()
    return df.drop(drop_idx, axis=0).reset_index(drop=True)

### wifi feat

In [ ]:
class WifiFeat(object):
    
    def fit(self, df, wifi_power_drop_n, wifi_connect_drop_n):
        self.get_wifi_connect_list(df, wifi_connect_drop_n)
        self.get_wifi_power_list(df, wifi_power_drop_n)
    
    def get_wifi_connect_list(self, df, drop_num):
        self.wifi_connect_list = {}
        wifi_count = {}
        wifi_infos = df['wifi_infos']
        for wifi_infos_i in wifi_infos:
            wifi_infos_i = [wifi.split('|') for wifi in wifi_infos_i.split(';')]
            for wifi in wifi_infos_i:
                if wifi[2] != 'false':
                    if wifi[0] in wifi_count:
                        wifi_count[wifi[0]] += 1
                    else:
                        wifi_count[wifi[0]] = 1
        for k, v in wifi_count.items():
            if v > drop_num:
                self.wifi_connect_list[k] = 0

    
    def get_wifi_power_list(self, df, drop_num):
        self.wifi_power_list = {}
        wifi_infos = df['wifi_infos']
        wifi_count = {}
        for wifi_infos_i in wifi_infos:
            wifi_infos_i = [wifi.split('|') for wifi in wifi_infos_i.split(';')]
            for wifi in wifi_infos_i:
                if wifi[0] in wifi_count:
                    wifi_count[wifi[0]] += 1
                else:
                    wifi_count[wifi[0]] = 1
        for k, v in wifi_count.items():
            if v > drop_num:
                self.wifi_power_list[k] = 0
    
    def extract_wifi_power(self, df):
        wifi_infos = df.wifi_infos
        result = []
        for wifi_infos_i in wifi_infos:
            wifi_infos_i = [wifi.split('|') for wifi in wifi_infos_i.split(';')]
            result_i = self.wifi_power_list.copy()
            for wifi in wifi_infos_i:
                if wifi[0] in self.wifi_power_list:
                    result_i[wifi[0]] = float(wifi[1]) + 120
            result.append(result_i)
        result = pd.DataFrame(result)
        return result
    
    def extract_wifi_connect(self, df):
        result = []
        wifi_infos = df['wifi_infos']
        for wifi_infos_i in wifi_infos:
            wifi_infos_i = [wifi.split('|') for wifi in wifi_infos_i.split(';')]
            result_i = self.wifi_connect_list.copy()
            for wifi in wifi_infos_i:
                if wifi[2] != 'false':
                    if wifi[0] in self.wifi_connect_list:
                        result_i[wifi[0]] = 1
            result.append(result_i)
        result = pd.DataFrame(result)
        return result

In [117]:
train_i.head()

,sample_id,category_id,latitude,longitude,mall_id,price,row_id,shop_id,time_stamp,user_id,wifi_infos
0,0,c_38,32.088040,122.308291,m_1409,42.0,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,1,c_38,32.087970,122.308162,m_1409,42.0,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_56328155|-73|false;b_411...
57,68,c_49,32.088638,122.309295,m_1409,60.0,NaN,s_52283,2017-08-14 20:40:00,u_13782,b_11592648|-74|false;b_56326068|-61|false;b_29...
68,80,c_34,32.087681,122.310365,m_1409,38.0,NaN,s_288430,2017-08-11 15:30:00,u_18171,b_41870824|-84|false;b_51825273|-76|false;b_41...
124,156,c_34,32.087676,122.310139,m_1409,38.0,NaN,s_288430,2017-08-14 13:30:00,u_29343,b_55113661|-76|false;b_52642831|-73|false;b_38...

In [116]:
train_i.shift()

,sample_id,category_id,latitude,longitude,mall_id,price,row_id,shop_id,time_stamp,user_id,wifi_infos
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN
1,0.0,c_38,32.088040,122.308291,m_1409,42.0,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_41124514|-86|false;b_287...
57,1.0,c_38,32.087970,122.308162,m_1409,42.0,NaN,s_2871718,2017-08-06 21:20:00,u_376,b_6396480|-67|false;b_56328155|-73|false;b_411...
68,68.0,c_49,32.088638,122.309295,m_1409,60.0,NaN,s_52283,2017-08-14 20:40:00,u_13782,b_11592648|-74|false;b_56326068|-61|false;b_29...
124,80.0,c_34,32.087681,122.310365,m_1409,38.0,NaN,s_288430,2017-08-11 15:30:00,u_18171,b_41870824|-84|false;b_51825273|-76|false;b_41...
311,156.0,c_34,32.087676,122.310139,m_1409,38.0,NaN,s_288430,2017-08-14 13:30:00,u_29343,b_55113661|-76|false;b_52642831|-73|false;b_38...
345,399.0,c_34,32.087674,122.310001,m_1409,38.0,NaN,s_288430,2017-08-19 16:10:00,u_67271,b_55113661|-58|false;b_38288190|-57|false;b_41...
411,442.0,c_51,32.087918,122.307925,m_1409,64.0,NaN,s_1877554,2017-08-05 13:00:00,u_74124,b_5577439|-70|false;b_5577434|-81|false;b_3110...
412,524.0,c_30,32.087500,122.307093,m_1409,47.0,NaN,s_298098,2017-08-17 13:30:00,u_90101,b_10687160|-85|false;b_26685632|-88|false;b_24...
413,525.0,c_30,32.087486,122.307349,m_1409,47.0,NaN,s_298098,2017-08-07 13:50:00,u_90101,b_26685632|-89|false;b_24303621|-35|false;b_56...
421,526.0,c_36,32.087286,122.306581,m_1409,50.0,NaN,s_3480,2017-08-11 17:40:00,u_90101,b_45567232|-85|false;b_56325588|-89|false;b_26...
507,536.0,c_50,32.087601,122.307550,m_1409,61.0,NaN,s_3894979,2017-08-05 18:00:00,u_92669,b_2190492|-90|false;b_48819871|-42|false;b_319...
508,646.0,c_29,32.087765,122.310557,m_1409,46.0,NaN,s_143539,2017-08-02 13:50:00,u_106602,b_4423668|-78|false;b_7773242|-79|false;b_5632...
509,647.0,c_29,32.088147,122.310404,m_1409,46.0,NaN,s_143539,2017-08-10 20:20:00,u_106602,b_56326552|-54|false;b_50360364|-38|false;b_56...
510,648.0,c_29,32.088430,122.310369,m_1409,46.0,NaN,s_143539,2017-08-06 14:10:00,u_106602,b_50360365|-48|false;b_50360364|-38|false;b_56...
511,649.0,c_29,32.087905,122.310529,m_1409,46.0,NaN,s_143539,2017-08-22 21:10:00,u_106602,b_56326586|-81|false;b_50357524|-77|false;b_56...
512,650.0,c_29,32.088147,122.310407,m_1409,46.0,NaN,s_143539,2017-08-09 20:30:00,u_106602,b_56326585|-81|false;b_56326552|-59|false;b_23...
513,652.0,c_29,32.088150,122.310403,m_1409,46.0,NaN,s_143539,2017-08-18 15:10:00,u_106602,b_50360364|-47|false;b_56327892|-72|false;b_56...
514,653.0,c_29,32.088121,122.310406,m_1409,46.0,NaN,s_143539,2017-08-04 13:10:00,u_106602,b_56327188|-84|false;b_56327180|-54|false;b_56...
515,654.0,c_29,32.088149,122.310406,m_1409,46.0,NaN,s_143539,2017-08-07 13:50:00,u_106602,b_7773242|-83|false;b_34413817|-89|false;b_563...
551,655.0,c_29,32.088142,122.310317,m_1409,46.0,NaN,s_143539,2017-08-05 14:10:00,u_106602,b_50357524|-88|false;b_56326551|-54|false;b_50...
600,704.0,c_47,32.088657,122.309968,m_1409,64.0,NaN,s_186761,2017-08-06 16:50:00,u_114281,b_34703903|-75|false;b_48823395|-83|false;b_34...
637,768.0,c_34,32.087676,122.310139,m_1409,38.0,NaN,s_288430,2017-08-21 20:10:00,u_124422,b_30838965|-83|false;b_30838964|-75|false;b_30...
655,826.0,c_29,32.088147,122.310407,m_1409,46.0,NaN,s_143539,2017-08-16 16:20:00,u_135072,b_7773242|-69|false;b_4639855|-95|false;b_5036...
702,851.0,c_34,32.086893,122.306097,m_1409,41.0,NaN,s_1468123,2017-08-15 20:20:00,u_141476,b_17046740|-75|false;b_17046744|-64|false;b_49...
703,923.0,c_38,32.087869,122.308025,m_1409,40.0,NaN,s_1219090,2017-08-23 11:10:00,u_153680,b_29949764|-88|false;b_47935498|-49|true;b_168...
747,924.0,c_38,32.088067,122.308327,m_1409,40.0,NaN,s_1219090,2017-08-02 11:50:00,u_153680,b_56325580|-66|false;b_56326618|-58|false;b_47...
836,978.0,c_47,32.088333,122.310024,m_1409,64.0,NaN,s_186761,2017-08-19 10:40:00,u_164037,b_32501531|-47|false;b_55805394|-88|false;b_13...
892,1104.0,c_28,32.087784,122.307686,m_1409,44.0,NaN,s_3683331,2017-08-06 16:10:00,u_185177,b_1084757|-65|false;b_29284129|-80|false;b_311...
967,1180.0,c_30,32.087499,122.307217,m_1409,47.0,NaN,s_298098,2017-08-09 17:00:00,u_199945,b_45567231|-80|false;b_26685632|-78|false;b_24...
...,...,...,...,...,...,...,...,...,...,...,...
847242,1134878.0,c_27,32.087660,122.309527,m_1409,44.0,NaN,s_779658,2017-08-01 19:00:00,u_62934900,b_6066712|-61|false;b_30801728|-46|false;b_156...
847310,1135013.0,c_34,32.087736,122.310499,m_1409,38.0,NaN,s_288430,2017-08-20 11:20:00,u_62966625,b_4338832|-77|false;b_38288191|-77|false;b_170...
847311,1135119.0,c_30,32.087493,122.307377,m_1409,47.0,NaN,s_298098,2017-08-06 19:00:00,u_63007458,b_56316486|-76|false;b_56316244|-87|false;b_56...
847312,1135120.0,c_28,32.087432,122.307263,m_1409,44.0,NaN,s_3683331,2017-08-08 17:40:00,u_63007458,b_29951635|-82|false;b_56316244|-90|false;b_56...
847330,1135121.0,c_47,32.088610,122.309779,m_1409,63.0,NaN,s_417396,2017-08-23 18:00:00,u_63007819,b_30628280|-58|false;b_57150695|-19|false;b_30...
847331,1135142.0,c_15,32.087691,122.309094,m_1409,48.0,NaN,s_494139,2017-08-11 13:00:00,u_63015607,b_41870823|-76|false;b_11838892|-75|false;b_46...
847385,1135143.0,c_15,32.088210,122.309281,m_1409,48.0,NaN,s_494139,2017-08-11 13:00:00,u_63015607,b_46441335|-79|false;b_32309549|-69|false;b_30...
847386,1135211.0,c_47,32.088507,122.309976,m_1409,64.0,NaN,s_186761,2017-08-16 17:10:00,u_63038157,b_26305410|-71|false;b_9132153|-68|false;b_325...
847459,1135212.0,c_15,32.088444,122.310803,m_1409,69.0,NaN,s_404765,2017-08-17 19:20:00,u_63038157,b_48820510|-56|false;b_48822427|-65|false;b_48...
847467,1135307.0,c_47,32.088347,122.310002,m_1409,63.0,NaN,s_417396,2017-08-05 12:40:00,u_63070964,b_48824066|-95|false;b_34705542|-94|false;b_48...
847468,1135315.0,c_4,32.088165,122.309188,m_1409,62.0,NaN,s_207809,2017-08-01 13:40:00,u_63075931,b_41312857|-49|false;b_56325623|-75|false;b_28...
847488,1135316.0,c_4,32.088007,122.308347,m_1409,62.0,NaN,s_207809,2017-08-14 16:50:00,u_63075931,b_4640391|-85|false;b_56324776|-72|false;b_464...
847784,1135342.0,c_30,32.087592,122.307434,m_1409,47.0,NaN,s_298098,2017-08-03 18:20:00,u_63086403,b_56326955|-68|false;b_56324476|-42|false;b_56...
847785,1135721.0,c_28,32.088346,122.308221,m_1409,38.0,NaN,s_354618,2017-08-07 13:20:00,u_63197967,b_56314911|-87|false;b_29950816|-64|false;b_29...
847786,1135722.0,c_28,32.088374,122.308249,m_1409,38.0,NaN,s_354618,2017-08-07 13:30:00,u_63197967,b_29950948|-55|false;b_44511298|-81|false;b_52...
847787,1135723.0,c_29,32.087244,122.306737,m_1409,50.0,NaN,s_9554,2017-08-07 14:10:00,u_63197967,b_56327458|-35|false;b_56327921|-68|false;b_33...
848036,1135724.0,c_29,32.087244,122.306737,m_1409,50.0,NaN,s_9554,2017-08-07 14:10:00,u_63197967,b_56324478|-67|false;b_56327457|-53|false;b_56...
848037,1136052.0,c_47,32.088728,122.309753,m_1409,63.0,NaN,s_417396,2017-08-11 11:10:00,u_63307339,b_45310758|-75|false;b_30628280|-58|false;b_30...
848045,1136053.0,c_47,32.088673,122.309778,m_1409,63.0,NaN,s_417396,2017-08-14 17:40:00,u_63307339,b_48824067|-84|false;b_1198599|-73|false;b_560...
848046,1136066.0,c_14,32.087194,122.308806,m_1409,46.0,NaN,s_543988,2017-08-16 16:40:00,u_63313132,b_39882723|-78|false;b_7255991|-80|false;b_308...
848047,1136067.0,c_14,32.087194,122.308806,m_1409,46.0,NaN,s_543988,2017-08-16 18:30:00,u_63313132,b_22663134|-76|false;b_536838|-72|false;b_1046...
848048,1136068.0,c_14,32.086321,122.487053,m_1409,46.0,NaN,s_543988,2017-08-16 16:40:00,u_63313132,b_7255991|-80|false;b_28112025|-45|false;b_281...
848237,1136069.0,c_14,32.086321,122.487053,m_1409,46.0,NaN,s_543988,2017-08-16 18:30:00,u_63313132,b_26774041|-83|false;b_1046308|-87|false;b_226...
848599,1136311.0,c_29,32.087129,122.306459,m_1409,50.0,NaN,s_9554,2017-08-22 20:40:00,u_63393997,b_32522998|-75|false;b_56327920|-74|false;b_66...
848636,1136795.0,c_2,32.087500,122.308127,m_1409,50.0,NaN,s_17968,2017-08-14 20:30:00,u_63545397,b_14940701|-53|false;b_45251833|-78|false;b_15...
848825,1136850.0,c_29,32.088155,122.310400,m_1409,46.0,NaN,s_143539,2017-08-21 13:40:00,u_63558517,b_56327893|-65|false;b_40382293|-82|false;b_14...
849108,1137099.0,c_34,32.087675,122.310042,m_1409,38.0,NaN,s_288430,2017-08-02 20:00:00,u_63644305,b_15315328|-66|false;b_55113661|-65|false;b_38...
849219,1137474.0,c_30,32.087547,122.307477,m_1409,47.0,NaN,s_298098,2017-08-19 18:10:00,u_63750310,b_13172774|-71|false;b_56326955|-68|false;b_56...
849330,1137643.0,c_34,32.087905,122.310494,m_1409,38.0,NaN,s_288430,2017-08-02 12:00:00,u_63798746,b_41870823|-67|false;b_38288190|-56|false;b_30...
849457,1137787.0,c_15,32.088453,122.310795,m_1409,69.0,NaN,s_404765,2017-08-01 20:50:00,u_63850927,b_48824319|-54|false;b_48820396|-44|false;b_48...

In [ ]:
def wifi_connect(df_train, df_test, drop_num):
    wifi_list = {}
    counter = {}
        wifi_infos = df_train['wifi_infos']
        for wifi_infos_i in wifi_infos:
            wifi_infos_i = [wifi.split('|') for wifi in wifi_infos_i.split(';')]
            for wifi in wifi_infos_i:
                if wifi[2] != 'false':
                    if wifi[0] in wifi_count:
                        counter[wifi[0]] += 1
                    else:
                        counter[wifi[0]] = 1
        for k, v in counter.items():
            if v > drop_num:
                wifi_list[k] = 0

In [ ]:
def wifi_connect(df, drop_num):
    df_train = df[df.row_id.isnull()]
    
    

def wifi_power(df, drop_num):
    pass

In [78]:
def hourmap(t):
    if (t >= datetime.time(22,0)) or (t < datetime.time(8,0)):
        return 0
    if (t >= datetime.time(8,0)) and (t < datetime.time(9,30)):
        return 1
    if (t >= datetime.time(9,30)) and (t < datetime.time(11,30)):
        return 2
    if (t >= datetime.time(11,30)) and (t < datetime.time(14,0)):
        return 3
    if (t >= datetime.time(14,0)) and (t < datetime.time(17,0)):
        return 4
    if (t >= datetime.time(17,0)) and (t < datetime.time(20,0)):
        return 5
    if (t >= datetime.time(20,0)) and (t < datetime.time(22,0)):
        return 6





def location(df):
    pass

def week_hour(df):
    pass

def week_category(df, most_n):
    pass

def hour_category(df, most_n):
    pass

def week_price

In [ ]:
class OutlierFilter(object):
    
    def __init__(self):
        pass
    
    def run(self, df):
        outlier_idx1 = self.space_outlier_detect(df)
        outlier_idx2 = self.user_outlier_detect(df)
        test_idx = df[df.row_id.notnull()].index.tolist()
        outlier_idx = list(set(outlier_idx1 + outlier_idx2) - set(test_idx))
        result = df.drop(outlier_idx, axis=0).reset_index(drop=True)
        return result
    
    def space_outlier_detect(self, df):
        
    
    def user_outlier_detect(self, df):
        

class UserFeatExt(object):
        
    def extract_user_id(self, df_):
        df = df_.copy()
        user_cnt = df.groupby('user_id')['user_id'].count()
        user_set = set(df[df.shop_id.isnull()].user_id.values) |\
        set(df[df.shop_id.notnull()].user_id.values) |\
        set(user_cnt[user_cnt>5].index.tolist())
        
        df.loc[-df.user_id.isin(user_set),'user_id'] = 'Null'
        le = LabelEncoder()
        result = le.fit_transform(df.user_id.values).reshape(-1,1)
        return result

    
class SpaceFeat(object):
    
    def fit(self, df):
        self.scaler = MinMaxScaler()
        self.scaler.fit(df[['latitude','longitude']])
        
    def extract_space(self, df):
        result = self.scaler.transform(df[['latitude','longitude']])
        return result
    
    def extract_space_dist(self, df, shop):
        def squaer_dist(loc1, loc2_list):
            dist = np.power(np.sum(np.power(loc2_list-loc1,2),1),0.5)
            return dist
        df_space = df[['latitude','longitude']].values
        shop_loc = shop[['latitude','longitude']].values
        feat = np.apply_along_axis(squaer_dist, 1, df_space, **{'loc2_list':shop_loc})
        return feat


class TimeFeat(object):
    
    def extract_weekday(self, df, onehot=True):
        result = df.time_stamp.dt.weekday.values.reshape(df.shape[0], 1)
        if onehot:
            result = pd.get_dummies(pd.Series(result.reshape(-1))).values
        return result
    
    def extract_hour(self, df, onehot=True):
        result = df.time_stamp.dt.hour.values.reshape(df.shape[0], 1)
        if onehot:
            result = pd.get_dummies(pd.Series(result.reshape(-1))).values
        return result
    
    def extract_hour_map(self, df, onehot=True):
        
        result = df.time_stamp.dt.time.apply(time_map).values.reshape(df.shape[0], 1)
        if onehot:
            result = pd.get_dummies(pd.Series(result.reshape(-1))).values
        return result
    
    def extract_weekday_hour_map(self, df, onehot=True):
        weekday = self.extract_weekday(df, onehot=False)
        hour_map = self.extract_hour_map(df, onehot=False)
        result = weekday * 100 + hour_map
        if onehot:
            result = pd.get_dummies(pd.Series(result.reshape(-1))).values
        return result