In [1]:
import sys
import os

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import lightgbm as lgb
import xgboost as xgb

In [2]:
os.chdir(os.getcwd())
data_path = "data/origin/"

user_info = pd.read_csv(os.path.join(data_path, "jdata_user_basic_info.csv"))

user_action = pd.read_csv(os.path.join(data_path, "jdata_user_action.csv"))

sku_info = pd.read_csv(os.path.join(data_path, "jdata_sku_basic_info.csv"))

user_order = pd.read_csv(os.path.join(data_path, "jdata_user_order.csv"))
user_order.drop("o_id", axis=1, inplace=True)
user_order = user_order.groupby(["user_id", "sku_id", "o_date", "o_area"])["o_sku_num"].sum().reset_index()

user_comment = pd.read_csv(os.path.join(data_path, "jdata_user_comment_score.csv"))

In [3]:
user_action.head(3)

   user_id  sku_id      a_date  a_num  a_type
0        1   80036  2017-04-14      4       1
1        1   96959  2017-01-12      2       1
2        1    8017  2017-03-09      1       1

In [8]:
user_comment.head(3)

   user_id    comment_create_tm    o_id  score_level
0        3  2017-03-21 20:38:25  403068            1
1        7  2016-12-12 09:31:43  194387            1
2        7  2016-12-17 16:37:23  197976            2

In [10]:
user_order.head(3)

   user_id  sku_id      o_date  o_area  o_sku_num
0        1   16607  2017-01-12      14          1
1        1   16607  2017-02-12      14          1
2        1   80036  2017-03-09      14          1

In [11]:
sku_info.head(3)

   sku_id  price  cate  para_1  para_2  para_3
0       1  364.2    71  247.95      -1      -1
1       2   36.7    46    6.40      -1      -1
2       3  953.3    71  178.92      -1      -1

In [12]:
user_order.head(3)

   user_id  sku_id      o_date  o_area  o_sku_num
0        1   16607  2017-01-12      14          1
1        1   16607  2017-02-12      14          1
2        1   80036  2017-03-09      14          1