In [11]:
import warnings
import os
import sys

import numpy as np
import pandas as pd

from sklearn.metrics import accuracy_score
import xgboost as xgb
from sklearn.linear_model import LogisticRegression


from tianchi.user_location_prediction.pycode.load_data import *

In [2]:
def load_preprosessing_data():
    shop = pd.read_csv('./pre_processing_data/shop.csv')
    user = pd.read_csv('./pre_processing_data/user.csv')
    wifi = pd.read_csv('./pre_processing_data/wifi.csv')

    shop = shop[shop.mall_id=='m_1409'].copy().reset_index(drop=True)
    user = user[user.mall_id=='m_1409'].copy().reset_index(drop=True)
    wifi = wifi[wifi.mall_id=='m_1409'].copy().reset_index(drop=True)

    return shop, user, wifi

In [14]:
abtest = load_original_abtest()

In [16]:
user = load_original_user()

In [4]:
shop, user, wifi = load_preprosessing_data()

In [5]:
abtest.head(3)

,row_id,user_id,mall_id,time_stamp,lgt,ltt,wifi_infos
0,118742,u_30097142,m_3916,2017-09-05 13:00,122.141011,39.818847,b_34366982|-82|false;b_37756289|-53|false;b_41...
1,118743,u_30097803,m_5085,2017-09-06 13:10,118.191907,32.855858,b_36722251|-81|false;b_10537579|-75|false;b_43...
2,118744,u_30097889,m_4033,2017-09-06 17:40,119.192110,32.424667,b_30026291|-74|false;b_30026290|-74|false;b_36...

In [17]:
user.head(3)

,user_id,shop_id,time_stamp,longitude,latitude,wifi_infos
0,u_376,s_2871718,2017-08-06 21:20,122.308291,32.088040,b_6396480|-67|false;b_41124514|-86|false;b_287...
1,u_376,s_2871718,2017-08-06 21:20,122.308162,32.087970,b_6396480|-67|false;b_56328155|-73|false;b_411...
2,u_1041,s_181637,2017-08-02 13:10,117.365255,40.638214,b_8006367|-78|false;b_2485110|-52|false;b_3005...

### 空间距离最近

In [6]:
def space_distance_calc(lgt, ltt):
    idx = np.argmin((shop.lgt-lgt)**2 + (shop.ltt-ltt)**2)
    return shop.iloc[idx, 0]

pre = [space_distance_calc(i[0], i[1]) for i in zip(user.lgt, user.ltt)]

accuracy_score(user.shop_id, pre)